* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.2;
    background-color: burlywood;
}
details > summary {
    list-style: none;
  }
.header {
    padding: 10px 0 0 10px;
    color: rgb(69, 6, 6);
}
.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: unset;
    min-height: 100vh;
}
.bayan {
    max-width: 100%;
    box-shadow:   2px rgb(34, 143, 227);
}
.bayan__item {
    background-color: blueviolet;
    color: aqua;
    position: relative;
    border-radius: 9px;
    overflow: hidden;
}
.bayan__title {
    text-align: center;
    width: 100%;
    font-size: 17px;
    outline: none;
    cursor: pointer;
    border-bottom: 3px solid blueviolet;
    padding: 10px 50px 10px 20px;
    transition: 0.4s all;
    position: relative;
}
.bayan__title:hover {
    background-color: rgb(219, 192, 15);
}
.bayan__title::after {
    display: block;
    content: '▼';
    font-size: 12px;
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
}
.bayan__item[open] .bayan__title::after {
  transform: translateY(-50%) rotate(180deg);
}
.bayan__body {
    padding: 15px;
}
.bayan {
    padding: 0 10px;
}