* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.2;
    background-color: burlywood;
}
details > summary {
    list-style: none;
  }

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.bayan {
    max-width: 320px;
    box-shadow:   2px rgb(34, 143, 227);
}
.bayan__item {
    background-color: blueviolet;
    color: aqua;
    position: relative;
    border-radius: 9px;
    overflow: hidden;
}
.bayan__title {
    text-align: center;
    width: 100%;
    font-size: 17px;
    outline: none;
    cursor: pointer;
    border-bottom: 3px solid blueviolet;
    padding: 10px 50px 10px 20px;
    transition: 0.4s all;
}
.bayan__title:hover {
    background-color: rgb(219, 192, 15);
}
